.main {
  display: flex;
  overflow-y: unset;
  height: 100vh;

  .listAdd {
    width: 20%;
    margin: 1%;
  }

  .map {
    position: relative;
    height: 250vh;
    width: 80%;
    background-image: url("got-map.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

span {
  margin: 2px;
  font-size: 15px;
}

input {
  margin: 10px;
}

.ad {
  margin: 2px;
  border: 1px solid black;
  text-align: left;
}

img {
  border: 10px solid black;
}
